html {
    margin: 0 auto;
    scroll-behavior: smooth;
}

nav {
    text-align: center;
    position: sticky;
    padding: 25px;
    font-family: raleway;
    color: white;
}

a {
    text-decoration: none;
    padding: 0 15px;
}

#p1 {
    max-width: 100vw;
    height: 100vh;
    /* background-image: url('./images/luca-bravo-198061-unsplash.jpg'); */
    background-size: cover;
    overflow: hidden;
    background: rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(
        top,
        rgba(226, 226, 226, 1) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(209, 209, 209, 1) 51%,
        rgba(254, 254, 254, 1) 100%
    );
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(226, 226, 226, 1)),
        color-stop(50%, rgba(219, 219, 219, 1)),
        color-stop(51%, rgba(209, 209, 209, 1)),
        color-stop(100%, rgba(254, 254, 254, 1))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(226, 226, 226, 1) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(209, 209, 209, 1) 51%,
        rgba(254, 254, 254, 1) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(226, 226, 226, 1) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(209, 209, 209, 1) 51%,
        rgba(254, 254, 254, 1) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(226, 226, 226, 1) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(209, 209, 209, 1) 51%,
        rgba(254, 254, 254, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(226, 226, 226, 1) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(209, 209, 209, 1) 51%,
        rgba(254, 254, 254, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

.welcome {
    margin: 175px 0px 0px 275px;
    text-align: left;
}

p {
    font-family: 'raleway', sans-serif;
    font-size: 1em;
    color: rgb(102, 83, 19);
}

#p2 {
    display: flex;
    justify-content: center;
    margin: 0 75px;
    padding: 50px 0;
    height: 100vh;
}

h2 {
    text-align: center;
    padding-top: 100px;
}

article {
    padding: 15px 50px;
    text-align: justify;
    text-justify: inter-word;
    font-family: raleway, sans-serif;
    color: rgb(102, 83, 19);
}
header {
    text-align: center;
}
h2 {
    font-family: Anton, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-shadow: 2px 5px 8px #444e5e;
    padding: 0 0 25px 0;
}
img {
    padding: 25px;
}

#lname {
    font-family: 'Anton', sans-serif;
    font-size: 10em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px 8px #444e5e;
}
