html {
    scroll-behavior: smooth;
}
body {
    max-width: 100vw;
    margin: 0 auto;
}

nav {
    padding: 25px;
    font-family: raleway;
    color: rgb(80, 80, 80);
}
nav > h4 {
    display: inline;
    col
}

nav > a {
    text-decoration: none;
    padding: 0 15px;
    color: rgb(80, 80, 80);
    float: right;
}

nav > a:visited {
    color: rgb(80, 80, 80);
}

nav > a:hover {
    color: rgb(255, 153, 0);
}

.about {
    text-align: center;
    align-content: center;
    padding: 4em;
    color: rgb(253, 217, 138);
    /* background: rgb(44, 44, 44); */
    font-size: 3vw;
    font-family: 'raleway','Courier New', Courier, monospace;
    background-color: rgb(59, 59, 59);
    transition: .9s;
}


#p1 > p {
    font-family: 'raleway', sans-serif;
    
}

/* Project Section */
/* Project Section */
/* Project Section */

.projects {
    text-align: center;
    height: 75vh;
    width: 100%; 
    /* margin: 0 auto; */
    color: rgb(59, 59, 59);
    /* align-content: justify; */
    line-height: 1.25;
} 
.project > header {
    font-family: Bellefair;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(59, 59, 59);
    border-radius: 8px;
    padding: 5px 0;
}
.project > div > a {
    position: absolute;
    bottom: 0px;

}

.project > a:visited {
    color: rgb(63, 63, 63);
}

.project {
    height: 200px;
    width: 300px;
    display:inline-block; 
    border: 1.5px solid rgb(128, 128, 128);;
    border-radius: 12px;
    /* float: left; */
    margin: 20px;
    text-align: center;
    padding: 10px;
    transition: .9s;
    font-family: raleway, sans-serif;
    
}


.project:hover {

    background-color: rgb(253, 213, 138);
}

h2 {
    text-align: center;
    font-family: raleway, sans-serif;
    margin: 1.5em 0;
    font-size: 3.5vw;
    text-align: center;
    color: rgb(63, 63, 63);
    /* text-shadow: 2px 5px 8px #444e5e; */
}

.projects > #project {
    padding: 20px;
}

#project > header {
    font-weight: bold;
}

#project > a:visited {
    color: rgb(255, 255, 255);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
  }

  #project1 {
    border-style: dotted solid;
    height: 200px;
    width: 400px;
  }

  .footer{
      width: auto;
      height: 50px;
      text-align: center;
      padding: 50px;
      font-family: raleway, sans-serif;
      color: rgb(63, 63, 63);
    }

    .footer > a {
        color: rgb(63, 63, 63);
        padding: 25px;
    }

.footer > a:visited {
    color: rgb(63, 63, 63);
}